<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Note</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @ir.each do |ir| %>
      <tr>
        <td><%= ir.id %></td>
        <td><%= ir.note %></td>
        <td><%= image_tag ir.image.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_instagram_report_path %>