<div class="sub-container">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><%= @account.client_name %></td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td><%= @account.client_email %></td>
        </tr>
        <tr>
          <th scope="row">Phone</th>
          <td><%= @account.client_phone %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
