<div class="sub-container">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th scope="row">Correspondence</th>
          <td><%= @account.correspondence %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
