<div class="sub-container">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= simple_format(@account.notes) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
