<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <h1>Accounts</h1>

  <div class="table-scrollable">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Client</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |a| %>
          <tr>
            <td><%= link_to a.name, account_path(a) %></td>
            <td><%= a.client_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</body>
</html>